#Basic{
    font-size:36px;
    text-align:center;
    font-family:serif;
}
.list{
    font-size:26px;
    text-align:center;
    
}
body{
    background-image:url(https://www.jisc.ac.uk/sites/default/files/styles/710px-wide/public/data-visual-inform2.jpg?itok=QdjwOHNY);
}
#supply{
    background-color:rgb(179,0,89);
    color:white;
}