body{
    background-image:url(https://ibjennyjenny.files.wordpress.com/2013/05/1180e-red-satin-tumblr-background.jpg);
}
h1{
    color:white;
    font-size:36px;
    text-align:center;
}
body{
    font-weight:bold;
    font-size:26px;
}
